/*! TNA Latin styles */
.activity {
  position: relative;
  padding-top: 25px;
  height: 0; }
  .activity object,
  .activity embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.four-three {
  padding-bottom: 75%;
  /* 4:3 */ }

.three-four {
  padding-bottom: 128%;
  /* 3:4 */ }
